{{extend 'RL_Layout.html'}}
<div class="container">
  <h1>Product is held. Waiting for delivery donation.</h1>
  <h2>Your product should be deliverying soon.</h2>
  <section class="hero is-large">
    <div class="hero-body">
      <input type="button" class="button is-large", onclick='window.location="{{=URL('default','home')}}";' value="Go Home"/>
      <input type="button" class="button is-large", onclick='window.location="{{=URL('default','productSearch')}}";' value="Search for more Products"/>
    </div>
  </section>
</div>
