{{extend 'RL_Layout.html'}}
<div class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">Product Description</p>
                <p class="subtitle">{{=row.productDescription}}</p>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Product Category:</p>
                <p class="subtitle">{{=row.productCategory}}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{=row.productName}}</p>
                <p class="subtitle"></p>
                <figure class="image is-4by3">
                  <!--img src="{{=URL('download',row.picture)}}" height="480" width="640"-->
                  {{=IMG(_src=URL('download',args=row.picture),_height="480",_width="640")}}
                </figure>
                <p class="subtitle">Comments:</p>
                <p>{{=row.comment}}</p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title has-text-centered">Do you need a {{=row.productName}} or keep looking?</p>
              <p class="subtitle"></p>
              <div class="content">
                <div class="item-level has-text-centered">
                  <input type="button" class="button is-large" onclick='window.location="{{=URL('default','productSearch')}}";' value="Back to Product Search"/>
                  <input type="button" class="button is-large" onclick='window.location="{{=URL('default','productPurchase',args=(row.id))}}";' value="Need {{=row.productName}}"/>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
