{{extend 'RL_Layout.html'}}
<!--div class= 'columns'>
    <div class='column is-fullhd'>
      <section class="notification is-info">
        <p class="title">heicheleList</p>
        <p class="subtitle">is a way to let go fo old stuff that you don't need and donate it to a person in need after a natural disaster.</p>
          <ul class="content">
            <li>
              reliefList provides a way to donate in two ways:
            <ul>
            <li>
              Donate a product that is in need.
            </li>
            <li>
              Pay for delivery of the products to the person in need.
            </li>
          </ul>
      </section>
    </div>
    <div class='column'>
      <section class="notification is-info">
        <form class="level-item">
            {{=form}}
        </form>
        <p class="title">Sign Up</p>
        <button class="w2p-form-button" onclick="window.location='/reliefList/default/user/register';return false">Sign Up</button>
      </section>
    </div>
</div-->
<div class='container'>
<section class="hero is-medium">
  <div class="hero-body">
      <div class="tile is-ancestor is-center">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">heicheleList</p>
                <p class="subtitle">is a way to let go fo old stuff that you don't need and donate it to a person in need after a natural disaster.</p>
              </article>
              <article class="tile is-child notification is-warning">
                <ul class="content subtitle">
                  <li>
                    reliefList provides a way to donate in two ways:
                  <ul>
                  <li>
                    Donate a product that is in need.
                  </li>
                  <li>
                    Pay for delivery of the products to the person in need.
                  </li>
                </ul>
              </article>
            </div>
            <div class="tile is-parent has-text-centered">
              <article class="tile is-child notification is-info">
                <h2 class="title">Sign Up!</h2>
                <button class="button is-large" onclick="window.location='/reliefList/default/user/register';return false">Sign Up</button>
              </article>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
