{{extend 'layout2.html'}}

{{include 'toolbar.html'}}

<header class="homeImg">
      <div class="container-fluid">
        <h1 class="jumbotron homeText"> Welcome to reliefList! </h1>
      </div>
</header>

<div class="row">
    <div class="col-xs-6 hundred homepagecol1">
        <div class="container-fluid">
        <h2>reliefList is way to let go of old stuff that you don’t need and donate to a person in need after a natural disaster.</h2>
        <div class="container-fluid">
        <ul class="list-group">
          <li class="list-groupitem">
            reliefList provides a way to donate old stuff to only people that were affected by a government declared natural disaster.
          </li>
          <li class="list-groupitem">
            reliefList provides a way to donate in two ways:
            <ul class="list-groupitem">
                <li class="list-groupitem">
                  Donate a product that is in need.
                </li>
                <li class="list-groupitem">
                  Pay for delivery of the products to the person in need.
                </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="col-xs-6 homepagecol2 hundred">
      <div class="container-fluid">
          <h2> Sign in to reliefList:</h2>
            <div>
              <input type="button" onclick='window.location="{{=URL('default','user')}}";' value="Login"/>
              <input type="button" onclick='window.location="{{=URL('default','register')}}";' value="Sign-Up!"/>
              </div>
        </div>
      </div>
</div>
