{{extend 'RL_Layout.html'}}

<div class="container is-paddingless has-text-centered">
  <h4>Donated products that have not been selected and can be modified or removed from the system</h4>
  <section class="hero is-large">
    <div>
      {{=formProductDonated}}
    </div>
    <div>
    <h4>Donated products that need to be delivered to the person in need. </h4>
      {{=formProductDel}}
    </div>
  </section>
</div>

<script>
jQuery(function(){jQuery('#w2p_query_panel').remove();});
jQuery(function(){jQuery('#w2p_query_panel').remove();});
</script>
