{{extend 'RL_Layout.html'}}

<div class="container">
  <section class="hero">
    <div class="hero-body">
      <h2>Product Update</h2>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">Product Description</p>
                <p class="subtitle">{{=record.productDescription}}</p>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Product Category:</p>
                <p class="subtitle">{{=record.productCategory}}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">{{=record.productName}}</p>
                <p class="subtitle"></p>
                <figure class="image is-4by3">
                  {{=IMG(_src=URL('download',args=record.picture),_height="480",_width="640")}}
                </figure>
                <p class="subtitle">Comments:</p>
                <p>{{=record.comment}}</p>
              </article>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Update Product Details</p>
              <div class="content">
                {{=formUpdate}}
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
